h1 {
    font-size: 3.0em; /* 40px/16=2.5em */
	text-align: center;
  text-transform: uppercase;
	font-family:Impact, Charcoal, sans-serif;
    color: #000000
	
}

html {
	background-color: #99ffcc;
}

h2 {
    font-size: 20px; 
  text-transform: uppercase;
	font-family:Impact, Charcoal, sans-serif;
    color: #000000
	
}

h3 {
    font-size: 15px; 
  text-transform: uppercase;
	font-family:Impact, Charcoal, sans-serif;
    color: #000000
	
}

 img{
    display: block;
    margin: auto;
    border-radius: 50px;
	
}


nav {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-family:Impact, Charcoal, sans-serif;
	
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	text-decoration: none;
	padding: 0.5em;
	font-weight: bold;
	color: #000000
}

nav a:link, nav a:visited {
	colour: #cc80ff;
}

nav a:hover {
	background: #66ffe0;
	color: white;
	transition: 1s all;
}

#contact {
	text-align: center;
}

#map {
	border-radius: 50px;
	width:50%;
	height:400px;
	display: block;
  margin: auto;

}

section {
	width: 100%;
	/*text-align: center;*/
	display: block;
	
}

table {
	text-align: center;
	width: 80%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #000000;
}



